/*! impostare buttons.css come foglio di stile del componenete <Btn/> quando esisterà  */

.btn {
    all: unset;
    text-align: center;
    cursor: pointer;
    line-height: 19px;
    font-size: 13px;
}

.btn-accent {
    color: var(--primary);
    padding: 7px 10px;
    background-color: var(--accent-300);
    border-radius: var(--border-radius);
    &:hover {
        background-color: var(--accent);
    }
}

.btn-pill {
    border-radius: 100vmax;
}
