.cartItems {
    background-color: var(--white);
    padding: 20px;
    .cartItems__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--gray-200);
        small {
            color: rgb(86, 89, 89);
            align-self: flex-end;
        }
    }
    .cartItems__footer {
        font-size: 18px;
        text-align: right;
        padding-block: 0.8rem;
    }
}
