.header {
    background-color: var(--primary);
    color: var(--white);

    .header__top {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999;
        background-color: var(--primary);
        padding: 4px 10px;
        display: flex;
        flex-flow: nowrap row;
        align-items: stretch;
        gap: 8px;
        .header__top__delivery {
            display: flex;
            align-items: center;
            gap: 4px;
            .locationIcon {
                font-size: 20px;
            }
        }

        .header__top__account {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .header__top__cart {
            display: flex;
            align-items: center;
            position: relative;
            span {
                position: absolute;
                left: 43%;
            }
        }
    }

    .header__bottom {
        background-color: var(--primary-300);
        height: 39px;
        margin-top: 71.5px;
    }
}
