.footer {
    color: var(--white);
    .footer__top {
        padding-block: 20px;
        .linksPanels {
            display: flex;
            justify-content: center;
            align-items: top;
            flex-wrap: nowrap;
            gap: 50px;
            h4 {
                margin-bottom: 14px;
            }
            .linkItem:not(:last-child) {
                margin-bottom: 10px;
            }

            a {
                color: #ddd;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .footer__bottom {
        padding-block: 20px;
        font-size: 0.85rem;
        .footer_links {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .footer_links a {
            color: var(--gray-100);
            text-decoration: none;
            margin: 5px 10px;
        }

        .footer_links a:hover {
            text-decoration: underline;
        }

        .footer_copywright {
            text-align: center;
        }

        .footer_copywright p {
            color: var(--gray-100);
        }
    }
}
